* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #97AAA2, #35384F);
}
input {
  outline: 0;
}
#loginBox {
  position: relative;
  max-width: 420px;
  height: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: hidden;
}
#loginBox .title {
  color: #fff;
  font-size: 30px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px #000;
}
#loginBox .account,
#loginBox .password {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
  margin-top: 20px;
  color: #fff;
  padding: 0 30px;
  box-sizing: border-box;
}
#loginBox .zhIcon {
  position: relative;
  color: #000;
}
#loginBox .pswIcon {
  position: relative;
}
#loginBox .loginBtn {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  background-color: #2B3C53;
  margin-top: 20px;
  outline: 0;
  border: 0;
  font-size: 20px;
  color: #fff;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
}
